.carbonbadge {
    --b1: #0e11a8;
    --b2: #00ffbc;
    font-size: 15px;
    line-height: 1.15;
    text-align: center;
    color: var(--b1);
}

.carbonbadge sub {
    vertical-align: middle;
    position: relative;
    top: .3em;
    font-size: 0.7em;
}

.carbonbadge p,
.carbonbadge a {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin: 0.2em 0;
    line-height: 1.15;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#wcb_g,
.carbonbadge a {
    padding: 0.3em 0.5em;
    background: #fff;
    border: 0.13em solid var(--b2);
    border-radius: .3em 0 0 .3em;
}

#wcb_g {
    border-right: 0;
    min-width: 8.2em;
}

.carbonbadge a {
    border-radius: 0 .3em .3em 0;
    border-left: 0;
    background: var(--b1);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border-color: var(--b1);
}

.wcb-d #wcb_2 {
    color: #fff;
}

.carbonbadge.wcb-d a {
    color: var(--b1);
    background: var(--b2);
    border-color: var(--b2);
}
